* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
}

body {
    border: solid 2px black;
    margin: 0.1em;
    padding: 0.1em;
    width: 700px;
    background-color: white;
}

.container {
    border: solid 2px black;
}

header {
    background-color: rgb(0, 18, 22);
    height: 7em;
    display: flex;
    flex-direction: column;

}

h1 {
    color: rgb(25, 226, 231);
    margin: 0.7em 0 0 0.3em;
}

h3 {
    color: rgb(223, 226, 229);
    margin-left: 0.5em;
}

main {
    display: flex;
    flex-direction: row;
    padding: 2em;
    
}

.card {
    border: solid black 1px;
    padding: 0.3em 1em;
    width: 43%;
}

.card p {
    margin: 0;
    font-size: 0.7em;
}

img {
    width: 200px;
}


main p {
    margin-left: 1.5em;
    
}

.facts {
    color: white;
    background-color: black;
    width: 10em;
    height: 1.7em;
    padding-left: 0.5em;
    margin-right: auto;
    font-size: 1.4em;
    font-weight: bolder;
    letter-spacing: 1px;
}
.facts p {
    margin: auto;
    
}

footer {
    background-color: rgb(217, 235, 235);
    padding: 1em;
}